body {
	box-sizing: border-box;
	font-family: Karla, sans-serif;
}

.nav {
	background: #f5db13;
	box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
	position: relative;

	&__inner {
		width: 80%;
		height: 94px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		display: flex;
		gap: 56px;
	}

	&__link {
		font-family: Karla;
		font-size: 25px;
		line-height: 29px;
		text-decoration: none;
		color: #000;
	}
}

.container {
	background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}

.content {
	width: 90%;
	// margin-top: 0;
	// margin-right: 0;
	// margin-bottom: 0;
	// margin-left: auto;
	// NOTE: short hand
	margin: 0 0 0 auto;
	padding-top: 128px;
}

.title {
	font-weight: normal;
	font-size: 72px;
	line-height: 84px;
	letter-spacing: 4px;
	margin: 0;
}

.description {
	font-size: 32px;
	line-height: 37px;
	width: 515px;
}

.cta {
	background: #73d677;
	box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
	border-radius: 11px;
	width: 231px;
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: 0;
	border: 0;
	font-weight: bold;
	font-size: 23px;
	line-height: 27px;
	color: #212121;
	padding-bottom: 8px;
}

.hero {
	height: 800px;
	position: relative;
	&__image {
		position: absolute;
		top: -44px;
		right: 0;
		object-fit: contain;
	}
}

.footer {
	width: 80vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	padding-bottom: 24px;

	&__link {
		color: #000;
		text-decoration: none;
	}
}
